---
const { isDarkHeader } = Astro.props;
---

<button
  type="button"
  aria-label="Toggle navigation"
  aria-expanded="false"
  aria-controls="nav-menu-panel"
  class:list={[
    "nav-toggler group relative lg:hidden",
    isDarkHeader && "nav-toggler-dark",
  ]}>
  <span class="nav-toggler-icon" aria-hidden="true">
    <span class="nav-toggler-line"></span>
    <span class="nav-toggler-line"></span>
    <span class="nav-toggler-line"></span>
  </span>
</button>
