---
import config from ".astro/config.generated.json" assert { type: "json" };
import { getCollectionCTM } from "@/lib/contentParser.astro";
import BlogCard from "../cards/BlogCard.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { useTranslations } from "@/lib/utils/i18nUtils";

interface Props {
  class?: string;
}

let posts = await getCollectionCTM(
  config.settings.blogFolder as "blog",
  Astro.currentLocale,
);

const t = await useTranslations(Astro.currentLocale as string);

// Posts sorted by date
posts = sortByDate(posts);

// Limit the number of items to be displayed
posts = posts.slice(0, 3);
---

{
  posts && posts.length > 0 && (
    <div class="space-y-4">
      <h2 class="text-h5 border-border-light/50 mb-4 border-b pb-4">
        {t("widgets.recentPostsTitle")}
      </h2>
      <div class="space-y-3">
        {posts.map((post) => (
          <BlogCard
            content={post}
            options={{ card: { layout: "horizontal" } }}
          />
        ))}
      </div>
    </div>
  )
}
