---
import Search from "./Search.astro";
import CtaBlock from "./CtaBlock.astro";
import Categories from "./Categories.astro";
import RecentPosts from "./RecentPosts.astro";
import RelatedPortfolios from "./RelatedPortfolios.astro";

interface Props {
  content: {
    widgets?: Array<
      "Search" | "RelatedPortfolios" | "Categories" | "RecentPosts" | "CtaBlock"
    >;
    position?: "left" | "right";
    sticky?: boolean;
    boxShadow?: boolean;
    widgetsContent?: {
      relatedPortfolios?: any;
      search?: any;
      categories?: any;
      recentPosts?: any;
      ctaBlock?: any;
    };
  };
  class?: string;
}

const {
  widgets = ["Search", "Categories", "RecentPosts", "CtaBlock"],
  sticky,
  widgetsContent,
  boxShadow,
  position,
} = Astro.props.content || {};

const widgetsContainer = [
  {
    name: "RelatedPortfolios",
    Component: RelatedPortfolios,
    props: widgetsContent?.relatedPortfolios,
  },
  { name: "Search", Component: Search, props: widgetsContent?.search },
  {
    name: "Categories",
    Component: Categories,
    props: widgetsContent?.categories,
  },
  {
    name: "RecentPosts",
    Component: RecentPosts,
    props: widgetsContent?.recentPosts,
  },
  { name: "CtaBlock", Component: CtaBlock, props: widgetsContent?.ctaBlock },
];
---

<div
  class:list={[
    "lg:col-span-4",
    sticky ? "sticky-sidebar lg:sticky" : "space-y-8 lg:bg-white lg:p-5",
    boxShadow && !sticky && "lg:box-shadow-primary",
    position === "right" ? "order-1 lg:order-2" : "order-1",
  ]}>
  {
    sticky ? (
      <div
        class:list={[
          "space-y-8 lg:bg-white lg:p-5",
          boxShadow && "lg:box-shadow-primary",
        ]}>
        {widgetsContainer
          .filter(({ name }) => widgets.includes(name as any))
          .map(({ Component, props }) => (
            <Component {...props} />
          ))}
      </div>
    ) : (
      widgetsContainer
        .filter(({ name }) => widgets.includes(name as any))
        .map(({ Component, props }) => <Component {...props} />)
    )
  }
</div>
