html {
  @apply text-base-sm scroll-smooth md:text-base;
  -webkit-font-smoothing: antialiased; /* smooth, like Figma */
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings:
    "lnum" 1,
    "tnum" 1;
}

body {
  @apply bg-body font-primary text-text-default leading-body font-normal;
}

/* Custom Scrollbar */
.has-customized-scrollbar {
  @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:bg-gray-300 [&::-webkit-scrollbar-track]:bg-white;
}

/* Global Section Spacing */
main.has-section-spacing-md section,
.has-call-to-action {
  @apply pt-20;
}

main.has-section-spacing-lg > section,
.has-call-to-action {
  @apply pt-16 md:pt-28;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary text-dark leading-snug font-bold tracking-wide;

  br {
    @apply max-md:hidden;
  }
}

h1,
.h1 {
  @apply text-h1-md md:text-h1;
}

h2,
.h2 {
  @apply text-h2-md md:text-h2;
}

h3,
.h3 {
  @apply text-h3-md md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply text-dark/80;
}

code {
  @apply after:border-none;
}

a {
  @apply text-primary;
}

p {
  br {
    @apply max-md:hidden;
  }
}

button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}

* {
  @apply border-border-light;
}

/* Adds pointer cursor to buttons */
button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}
