---
/**
 * Example Usage

  <StatsWrapper>
    <StatsItem
      icon="UserRoundCheck"
      title="200+"
      description="Increased Customer Satisfaction"
    />
    <StatsItem
      icon="DollarSign"
      title="25+"
      description="Enhanced Personalization"
    />
    <StatsItem
      icon="Star"
      title="10:1"
      description="Improved Retention"
    />
  </StatsWrapper>

 */
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "stats-component grid place-items-stretch gap-6 sm:grid-cols-2 md:grid-cols-3",
    className,
  ]}>
  <slot />
</div>
