---
import Icons from "@/helpers/Icons.astro";
import { getLocaleUrlCTM, supportedLanguages } from "@/lib/utils/i18nUtils";
import trailingSlashChecker from "@/lib/utils/trailingSlashChecker";

const currentLocale = Astro.currentLocale;
const languages = supportedLanguages.map((lang) => {
  const href = getLocaleUrlCTM(Astro.url.pathname, lang.languageCode as string);

  // Don't include current locale in url
  if (href === trailingSlashChecker(Astro.url.pathname)) {
    return;
  }

  return {
    slug: href,
    ...lang,
  };
});

if (languages.length <= 1) {
  return;
}
---

<div
  class="language-switcher hs-dropdown relative inline-block [--gpu-acceleration:false] [--offset:8] [--placement:bottom-right] [--strategy:auto] lg:[--auto-close:inside]">
  <button
    type="button"
    id="language-switcher-dropdown-toggle"
    class="language-switcher-button hs-dropdown-toggle"
    aria-expanded="false"
    aria-label="Menu">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      data-icon
      class="w-4">
      <path d="m5 8 6 6"></path><path d="m4 14 6-6 2-3"></path><path
        d="M2 5h12">
      </path><path d="M7 2h1"></path><path d="m22 22-5-10-5 10"></path><path
        d="M14 18h6">
      </path>
    </svg>
    <span class="text uppercase">{currentLocale}</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      data-icon
      class="hs-dropdown-open:rotate-180 text-base transition-transform duration-300">
      <path d="m6 9 6 6 6-6"></path>
    </svg>
  </button>
  <ul
    class="language-switcher-dropdown hs-dropdown-menu hs-dropdown-open:opacity-100 hs-dropdown-open:mt-0! hs-dropdown-open:visible z-10 mt-2 hidden w-24 min-w-32 opacity-0 transition-[opacity,margin] [--placement:right-bottom]"
    aria-labelledby="language-switcher-dropdown-toggle">
    {
      languages.map(
        (language) =>
          language && (
            <li>
              <a
                class:list={[
                  {
                    active: language.languageCode === currentLocale,
                  },
                  "capitalize",
                ]}
                href={language.slug}>
                {language.contentDir}
              </a>
            </li>
          ),
      )
    }
  </ul>
</div>
