---
import { markdownify } from "@/lib/utils/textConverter";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";

interface Props {
  icon: string;
  title: string;
  description: string;
  alternateLayout?: boolean;
}

const { icon, title, description, alternateLayout } = Astro.props;
---

<div
  class:list={[
    "px-6 py-8",
    { border: !alternateLayout },
    { "bg-white": alternateLayout },
  ]}>
  {
    icon && (
      <div class="bg-primary/5 mb-8 flex h-16 w-16 items-center justify-center rounded-full">
        <OptimizedImage
          class="h-8 w-8"
          src={icon}
          alt={`icon related to ${title}`}
        />
      </div>
    )
  }
  {title && <h3 class="text-h5 mb-3" set:html={markdownify(title)} />}
  {description && <p set:html={markdownify(description)} />}
</div>
